# Stable names for the two USB UVC camera capture nodes.
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="1bcf", ATTRS{idProduct}=="2cd1", ATTRS{serial}=="01.00.00", SYMLINK+="camera_decxin"
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="32e6", ATTRS{idProduct}=="9211", SYMLINK+="camera_icspring"
